<div class="row">
  <div class="col-1"></div>
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-text"> Informative header </h4>
      </div><!-- class = card-body -->
      <div class="card-body">
        <p class="card-text">
          The Human Fingerprint on Greenhouse Gases
          Climate Change is the defining issue of our time and we are at a defining moment. From shifting weather patterns that threaten food production, to rising sea levels that increase the risk of catastrophic flooding, the impacts of climate change are global in scope and unprecedented in scale. After more than a century and a half of industrialization, deforestation, and large scale agriculture, quantities of greenhouse gases in the atmosphere have risen to record levels not seen in three million years. Without drastic action today, adapting to these impacts in the future will be more difficult and costly.

        </p>
        <p class="card-text">
          What are greenhouse gases?
          The figures for greenhouse gas emissions are in kilograms of carbon dioxide equivalents (CO2eq). This is a unit that converts the impact of different kinds of greenhouse gases, like methane and nitrous oxide, to the equivalent amount of carbon dioxide

        </p>
        <p class="card-text">
          How much impact does the food have?
          Food production is responsible for a quarter of all greenhouse gas emissions, contributing to global warming, according to a University of Oxford study.
          Their findings showed that meat and other animal products are responsible for more than half of food-related greenhouse gas emissions, despite providing only a fifth of the calories we eat and drink.
          Of all the products analysed in the study, beef and lamb were found to have by far the most damaging effect on the environment.
        </p>
        <p class="card-text">
          Ways to improve:

          Reduce your food waste
          Favor plant-based products
          Buy less stuff
          Drive/fly less
          Vote for the right people

        </p>
        <p id="test"> test </p>
      </div><!-- class = card-body -->
    </div><!-- class = card -->
  </div><!-- class = col-3 -->
  <div class="col-1"></div>
  <div class="col-6">
    <img src='https://i1.wp.com/shrinkthatfootprint.com/wp-content/uploads/2013/01/samplediets1.gif?resize=540%2C435'>
    <% if params[:dietOptions] %>
    <% @diet = Diet.new(params[:dietOptions]) %>
    <div class="card">
      <div class="card-header">
        <h3> Survey Results</h3>
      </div><!-- class = card-body -->
      <div class="card-body">
        <p> Your diet has an impact on the environment! These are the effects it has.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p><%= @diet.get_diet_nutrition %><p>
          </li>

          <li class="list-group-item"> <%= @diet.get_diet_environment %></li>

          <li class="list-group-item"> About <%= (params[:miles].to_i * 365 * 0.000403).round(2) %> tons of CO2 are emitted due to your driving habits </li>
          <li class="list-group-item">Thats about <%= (@diet.get_diet_carbon.to_i + (params[:miles].to_i * 365 * 0.000403)).round(2) %> tons of CO2 emissions each year. </li>
        </ul>
      </div><!-- class = card-body -->
      <div class="card-footer">
        <a href="/">Take survey again!</a>
      </div><!-- class = card-footer -->
    </div><!-- class = card -->
    <% else %>
    <div class="card">
      <div class="card-header">
        <h3>Your Carbon Footprint</h3>
      </div><!-- class = card-body -->
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <form id="survey">
            <div class="form-group">
              <p>Question 1</p>
              <label for="diet type">Choose the diet from those above that most closely matches your own </label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="dietOptions" id="averageDiet" value="Average" checked>
                <label class="form-check-label" for="averageDiet">
                  Average Diet
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="dietOptions" id="meatLover" value="Meat Lover">
                <label class="form-check-label" for="meatLover">
                  Meat Lover
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="dietOptions" id="noBeef" value="No Beef">
                <label class="form-check-label" for="noBeef">
                  No Beef
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="dietOptions" id="vegetarian" value="Vegetarian">
                <label class="form-check-label" for="vegetarian">
                  Vegetarian
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="dietOptions" id="vegan" value="Vegan">
                <label class="form-check-label" for="vegan">
                  Vegan
                </label>
              </div>
            </div>
            <div class="form-group">
              <p>Question 2</p>
              <p>How many miles do you drive on a particular day?</p>
              <input type="number" name="miles" min=0>
              <label for="miles">Miles</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </ul>
      </div><!-- class = card-body -->
    </div><!-- class = card -->
    <% end %>
  </div><!-- class = col-6 -->
  <div class="col-1"></div>
</div><!-- class = row -->
