
 #city_background {
     position: fixed;
     bottom: 0;
     left: 0;
     height: 50px;
     width: 100%;
     background-image: url("/city.png");
     background-repeat: repeat-x;
     background-size: auto 100%;
 }

.row {
  padding-bottom: 50px !important;
}
img {
  width: 500px;
  height: 550px;
}
.card {
  margin-left: 3%;
  margin-right: 3%;
}
