
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
/* #city_background {
position: fixed;
bottom: 0;
left: 0;
height: 50px;
width: 100%;
background-image: url("/city.png");
background-repeat: repeat-x;
background-size: auto 100%;
} */
.list-group-item {
  background-color: rgba(18, 104, 101, 0.8);
}
.alert {
  color: white;
}
.row {
  padding-bottom: 50px !important;

}
.card {
  background-color: rgba(18, 104, 101, 0.8);
  /* background: url("/fok.jpeg") top center !important; */
  background-size: 100%;
  background-repeat: no-repeat !important;

}
body {
  padding-right: -10px !important;
  padding-left: -50px !important;
  margin: 0;
  padding: 0;
  background-color: #161E2C;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: url("/night.jpeg") top center !important;

}
.main-body {
  float: left !important;
  background-repeat: no-repeat !important;
  width: 100% !important;
  background-size: 100% auto !important;
  background-attachment: fixed !important;
  float: left !important;

}

.main-body {
  background-attachment: scroll;
  background-size: auto;
}

.container1 {
  padding-left: 40px ;
  padding-right: 40px;
  display: block;
}
.main-page {
  position: relative;
  margin-top: 80px;
}
.card-header {
  background-color: rgba(17, 41, 81, 0.8)
}

#card1 {
  width: 20cm;
}

/* .card {
  margin-left: 3%;
  margin-right: 3%;
} */
.container{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
text-align: center !important;
}

.center {
  width: 2500px; /* or whatever your width is */
  margin: 10px auto;
  text-align: left;
  heigh: 15cm;
}
/* .card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
} */
